@charset "UTF-8";

:root {
    --cor-principal: #2953A6;
    --cor-fonte: black;
    --cor-fundo: white;
    --cor-secundaria: #021F59;
    --cor-terciaria: #607EA6;
    --cor-quartenaria: #00065C;
}

body{
    text-align: center;
}

main {
    padding-top: 10vh;
}

div {
    text-align: center;
}

img {
    border-radius: 20px;
    height: 150px;
}

#imagem-secundaria {
    border-radius: 20px;
    margin: 20px;
    height: 400px;
}

#link {
    text-decoration: none;
}

#tituloprincipal {
    color: white;
}
 
p {
    padding: 15px;
    text-align: justify;
    font-size: 20px;
}

.referencia{
    text-align: justify;
}