@charset "UTF-8";

:root {
    --cor-principal: #2953A6;
    --cor-fonte: black;
    --cor-fundo: white;
    --cor-secundaria: #021F59;
    --cor-terciaria: #607EA6;
    --cor-quartenaria: #00065C;
}

body { 
    text-align: center;
}

main {
    padding-top: 8vh;
}

div {
    text-align: center;
    min-width: none;
}

main div {
    background-color: rgb(235, 235, 235);
    margin: 2vh;
    border-radius: 2vh;
    padding: 50px;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;

    height: auto;
    width: auto;

    max-width: 300px;
    min-height: 20px;
    
}

#link {
    text-decoration: none;
}

p {
    padding: 15px;
    text-align: center;
}

.referencia {
    text-align: justify;
}

/* FONTE ADAPTÁVEL */

@media screen and (min-width: 1200px) {
    main {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 10px;
    }
}
